.input-main {
    border-radius: 0.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    background: var(--white-black-white, #fff);
    padding: 0.5rem;
    height: 2.5rem;

    &::placeholder {
        color: var(--Neutral-Grey-900, #171717);
        font-family: var(--Body-Small-Font, Roboto);
        font-size: var(--Body-Small-Size, 0.75rem);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Body-Small-Line-Height, 1rem); /* 133.333% */
        letter-spacing: var(--Body-Small-Tracking, 0.025rem);
        opacity: 0.7;
    }

    &:focus {
        outline: none;
        border: 0.0625rem solid #4d62ff;
        background: var(--white-black-white, #fff);
        box-shadow: 0rem 0rem 0rem 0.0938rem rgba(77, 98, 255, 0.2);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: var(--Neutral-Grey-900, #171717) !important;
        background-color: transparent !important;
    }
}
