.form-container-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    background: var(--white-black-white, #fff);
    box-shadow: 0rem 0.25rem 2.25rem 0.5rem rgba(0, 0, 0, 0.03);
    text-align: start;
    width: min(80%, 26.875rem);
    padding: 3rem;

    h1{
        margin-bottom: 2rem;
    }

    h2 {
        color: var(--Neutral-Grey-900, #171717);
        /* Title/Large */
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 135%; /* 1.5188rem */
        margin-bottom: 0.5rem;
    }

    h3 {
        color: var(--Neutral-Grey-600, #525252);
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.3125rem */
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;

        input {
            width: 100%;
        }
    }

    button {
        width: 100%;
        box-sizing: border-box;
        margin: 2rem 0 1rem 0;
    }

    p {
        width: 100%;
        text-align: center;
        color: var(--Neutral-Grey-500, #737373);
        text-align: center;

        /* Body/Small */
        font-family: Inter;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.125rem */

        a {
            color: var(--Neutral-Grey-500, #4d62ff);
            font-family: Inter;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }
    }
}

@media (max-width: 37.5rem) {
    .form-container-main {
        padding: 2rem;
    }
}

@media (max-width: 23.4375rem){
    .form-container-main{
        width: 90%;
    }
}

