.pubinfoContainer {
    display:flex;
    flex-direction: column;
    padding: 16px;
    background-color: #ffffff;
    justify-content: space-between;
    border-radius: 20px;

  }
  
  .buttonContainer {
    display: flex;
    gap: 10px; 
  }
  
  